// PALETA NAVY OFICIAL CLINISALUD
$navy-50: #e0e8ee;
$navy-500: #004071;
$navy-900: #001c42;
$navy-contrast: #ffffff;
$navy-bg-color-white: #f8f9fa;

$color-gray-light-100: #f8fafc;
$color-gray-light-200: #e2e8f0;
$color-red-light-100: #fee2e2;
$color-red-light-600: #b91c1c;
$color-green-light-600:#15803d;
$color-green-light-100: #dcfce7;
$color-blue-light-50: #64748b;
$color-blue-light-100: #dbeafe;
$color-blue-light-600: #2563eb;