@use "@angular/material" as mat;
@use "variables" as v;
@include mat.core();


// 1. PALETA NAVY OFICIAL
$clinisalud-navy: (
  50: #e0e8ee,
  100: #b3c5d5,
  200: #809fba,
  300: #4d789e,
  400: #265c87,
  500: #004071,
  // Color base
  600: #003a69,
  700: #00325e,
  800: #002a54,
  900: #001c42,
  A100: #b3c5d5,
  A200: #809fba,
  A400: #265c87,
  A700: #00325e,
  contrast: (
    500: white,
  ),
);

// 2. CONFIGURACIÓN DEL TEMA (Sintaxis para Angular 17/18)
$primary: mat.define-palette($clinisalud-navy, 500);
$accent: mat.define-palette(mat.$teal-palette, 500);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(
        $font-family: "'Inter', sans-serif",
      ),
  )
);

@include mat.all-component-themes($theme);

// 3. FONDO CREMA Y TIPOGRAFÍA
html,
body {
  height: 100%;
  margin: 0;
  background-color: #f3f0df !important;
  font-family: "Inter", sans-serif !important;
}

// 4. FIX GLOBAL DE CAMPOS (Mata la línea vertical roja)
::ng-deep {
  .mat-mdc-form-field-focus-indicator,
  .mdc-line-ripple,
  .mdc-text-field--invalid::before,
  .mdc-text-field--invalid::after {
    display: none !important;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white !important;
    border-radius: 12px !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #004071 !important;
  }

  .mat-form-field-invalid {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #f44336 !important;
      border-width: 2px !important;
    }
  }
}

.toast-custom {
  --mdc-snackbar-container-shape: 12px;
  &--success {
    --mdc-snackbar-container-color: #{v.$color-green-light-100};
    .mdc-snackbar__label { color: #{v.$color-green-light-600} !important; font-weight: 700; }
    .mat-mdc-snack-bar-action { color: #{v.$color-green-light-600} !important; }
  }

  &--error {
    --mdc-snackbar-container-color: #{v.$color-red-light-100};
    .mdc-snackbar__label { color: #{v.$color-red-light-600} !important; font-weight: 700; }
    .mat-mdc-snack-bar-action { color: #{v.$color-red-light-600} !important; }
  }
}
